<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <!-- <title>{{ page.title }}</title> -->
        <title>{{ site.title }}{% if page.title != 'index' %} / {{ page.title }}{% endif %}</title>
        <meta name="description" content="{{ page.description }}">

        <link rel="icon" type="image/png" href="/favicon.png">

        <!--
        <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" >

        From here: https://github.com/jnrbsn/jnrbsn.com/blob/gh-pages/_layouts/default.html
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic,600italic,700italic">
        <link rel="stylesheet" href="/vendor/fontello/css/fontello.css?rev={{ site.github.build_revision }}">
        <link rel="stylesheet" href="/vendor/fontello/css/animation.css?rev={{ site.github.build_revision }}">
        <link rel="stylesheet" href="/assets/css/main.css?rev={{ site.github.build_revision }}">
        -->
    </head>
    <body>

    {{ content }}

    </body>
</html>

<!--
{% include head.html %}
    
    <h1>{{ page.title }}</h1>
	
    {{ content }}
    
    {% include nav.html %}

{% include foot.html %}
-->
